<div class="page-header">
  <h3>Thank You Letter #<%= @thank_you_letter.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Letter image</dt>
      <dd><%= @thank_you_letter.letter_image %></dd>

      <dt>Date</dt>
      <dd><%= @thank_you_letter.date %></dd>

      <dt>Organization</dt>
      <dd>
        <% if @thank_you_letter.organization.present? %>
          <a href="/organizations/<%= @thank_you_letter.organization_id %>">
            <%= @thank_you_letter.organization.org_name %>
          </a>
        <% end %>
      </dd>

      <dt>Grant</dt>
      <dd>
        <% if @thank_you_letter.grant.present? %>
          <a href="/grants/<%= @thank_you_letter.grant_id %>">
            <%= @thank_you_letter.grant.amount %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/thank_you_letters" class="btn btn-primary">
        Back
      </a>
      <a href="/thank_you_letters/<%= @thank_you_letter.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_thank_you_letter/<%= @thank_you_letter.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
