<div class="page-header">
  <h1>
    Ask letters
    <a href="/ask_letters/new" class="btn btn-lg btn-success">New Ask letter</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Letter image</th>
        <th>Date</th>
        <th>Organization</th>
        <th>Actions</th>
      </tr>

      <% @ask_letters.each do |ask_letter| %>
      <tr>
        <td><img src='<%= ask_letter.letter_image %>' class='img-responsive'></td>
        <td><%= ask_letter.date %></td>
        <td>
          <% if ask_letter.organization.present? %>
            <a href="/organizations/<%= ask_letter.organization.id %>">
              <%= ask_letter.organization.org_name %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/ask_letters/<%= ask_letter.id %>" class="btn btn-primary">Show</a>
          <a href="/ask_letters/<%= ask_letter.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_ask_letter/<%= ask_letter.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @ask_letters, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
