<div class="page-header">
  <h3>Check #<%= @check.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Check image</dt>
      <dd><%= @check.check_image %></dd>

      <dt>Account type</dt>
      <dd><%= @check.account_type %></dd>

      <dt>Check number</dt>
      <dd><%= @check.check_number %></dd>

      <dt>Grant</dt>
      <dd><%= @check.grant_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/checks" class="btn btn-primary">
        Back
      </a>
      <a href="/checks/<%= @check.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_check/<%= @check.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
