<div class="page-header">
  <h3>Organization #<%= @organization.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Org name</dt>
      <dd><%= @organization.org_name %></dd>

      <dt>Contact name</dt>
      <dd><%= @organization.contact_name %></dd>

      <dt>Address</dt>
      <dd><%= @organization.address %></dd>

      <dt>Phone</dt>
      <dd><%= @organization.phone %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/organizations" class="btn btn-primary">
        Back
      </a>
      <a href="/organizations/<%= @organization.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_organization/<%= @organization.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Organization has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @organization.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        
      </li>
    </ul>
  </div>
</div>

<!-- A Organization has many grants -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Grants
      </li>

      <% @organization.grants.each do |grant| %>
        <li class="list-group-item">
          <a href="/grants/<%= grant.id %>">
            <%= grant.amount %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/grants/<%= grant.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/grants/<%= grant.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_grant/<%= grant.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_grant" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for amount -->
      <div class="form-group">
        <label for="amount" class="control-label">
          Amount
        </label>

        <input type="text" id="amount" name="amount" placeholder="Amount" class="form-control" value="">
      </div>

      <!-- Label and input for fiscal_year -->
      <div class="form-group">
        <label for="fiscal_year" class="control-label">
          Fiscal year
        </label>

        <input type="text" id="fiscal_year" name="fiscal_year" placeholder="Fiscal year" class="form-control" value="">
      </div>

      <!-- Label and input for date_approved -->
      <div class="form-group">
        <label for="date_approved" class="control-label">
          Date approved
        </label>

        <input type="text" id="date_approved" name="date_approved" placeholder="Date approved" class="form-control" value="">
      </div>

      <!-- Label and input for organization_id -->
      <input type="hidden" name="organization_id" value="<%= @organization.id %>">

      <button class="btn btn-block btn-success">
        Create Grant
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Organization has many thank_you_letters -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Thank You Letters
      </li>

      <% @organization.thank_you_letters.each do |thank_you_letter| %>
        <li class="list-group-item">
          <a href="/thank_you_letters/<%= thank_you_letter.id %>">
            <%= thank_you_letter.letter_image %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/thank_you_letters/<%= thank_you_letter.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/thank_you_letters/<%= thank_you_letter.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_thank_you_letter/<%= thank_you_letter.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_thank_you_letter" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for letter_image -->
      <div class="form-group">
        <label for="letter_image" class="control-label">
          Letter image
        </label>

        <input type="text" id="letter_image" name="letter_image" placeholder="Letter image" class="form-control" value="">
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="">
      </div>

      <!-- Label and input for organization_id -->
      <input type="hidden" name="organization_id" value="<%= @organization.id %>">

      <!-- Label and input for grant_id -->
      <div class="form-group">
        <label for="grant_id" class="control-label">
          Grant
        </label>

        <%= select_tag(:grant_id, options_from_collection_for_select(Grant.all, :id, :amount), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Thank You Letter
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Organization has many ask_letters -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Ask Letters
      </li>

      <% @organization.ask_letters.each do |ask_letter| %>
        <li class="list-group-item">
          <a href="/ask_letters/<%= ask_letter.id %>">
            <%= ask_letter.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/ask_letters/<%= ask_letter.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/ask_letters/<%= ask_letter.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_ask_letter/<%= ask_letter.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_ask_letter" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for letter_image -->
      <div class="form-group">
        <label for="letter_image" class="control-label">
          Letter image
        </label>

        <input type="file" id="letter_image" name="letter_image" class="form-control">
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="">
      </div>

      <!-- Label and input for organization_id -->
      <input type="hidden" name="organization_id" value="<%= @organization.id %>">

      <button class="btn btn-block btn-success">
        Create Ask Letter
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
